<a href="https://colab.research.google.com/github/Myloveismilk/bitcoin_price_prediction/blob/main/data_collection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
!pip install python-binance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: python-binance in /usr/local/lib/python3.7/dist-packages (1.0.16)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from python-binance) (3.8.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.15.0)
Requirement already satisfied: dateparser in /usr/local/lib/python3.7/dist-packages (from python-binance) (1.1.2)
Requirement already satisfied: websockets in /usr/local/lib/python3.7/dist-packages (from python-binance) (10.4)
Requirement already satisfied: ujson in /usr/local/lib/python3.7/dist-packages (from python-binance) (5.5.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from python-binance) (2.23.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (22.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (6.0.2)
Requirement already satisfied: asynctest==0.13.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (0.13.0)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (4.0.2)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.2.0)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (1.8.1)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (2.1.1)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp->python-binance) (4.1.1)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp->python-binance) (2.10)
Requirement already satisfied: regex!=2019.02.19,!=2021.8.27,<2022.3.15 in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2022.3.2)
Requirement already satisfied: tzlocal in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (1.5.1)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2022.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from dateparser->python-binance) (2.8.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->python-binance) (2022.9.24)

In [82]:
import os
from binance.client import Client
import pandas as pd
import datetime 
import time

In [83]:
# init
api_key = os.environ.get('binance_api')
api_secret = os.environ.get('binance_secret')
client = Client(api_key, api_secret)

In [84]:
# get current timestamp
today = str(datetime.date.today())
print(today)

2022-10-29

In [85]:
last_365 = client.get_historical_klines('BTCUSDT', '1d', end_str = today, limit = 365)

In [86]:
# delete unwanted data - just keep date, open, high, low, close
for line in last_365:
    del line[5:]

In [87]:
btc_df = pd.DataFrame(last_365, columns=['date', 'open', 'high', 'low', 'close'])
btc_df.head()

,date,open,high,low,close
0,1635552000000,62253.70000000,62359.25000000,60673.00000000,61859.19000000
1,1635638400000,61859.19000000,62405.30000000,59945.36000000,61299.80000000
2,1635724800000,61299.81000000,62437.74000000,59405.00000000,60911.11000000
3,1635811200000,60911.12000000,64270.00000000,60624.68000000,63219.99000000
4,1635897600000,63220.57000000,63500.00000000,60382.76000000,62896.48000000

In [88]:
btc_df.dtypes

date      int64
open     object
high     object
low      object
close    object
dtype: object

In [89]:
# Chang all columns' data types
btc_df[['close', 'open', 'high', 'low']] = btc_df[['close', 'open', 'high', 'low']].apply(pd.to_numeric)

In [90]:
# Convert date from ms to day
btc_df['date'] = pd.to_datetime(btc_df['date'], unit='ms')

In [91]:
btc_df.tail()

          date      open      high       low     close
360 2022-10-25  19330.60  20415.87  19237.00  20080.07
361 2022-10-26  20079.02  21020.00  20050.41  20771.59
362 2022-10-27  20771.61  20872.21  20200.00  20295.11
363 2022-10-28  20295.11  20750.00  20000.09  20591.84
364 2022-10-29  20591.84  20985.25  20554.01  20928.52

In [92]:
btc_df.set_index('date', inplace= True)

In [93]:
btc_df.head()

                open      high       low     close
date
2021-10-30  62253.70  62359.25  60673.00  61859.19
2021-10-31  61859.19  62405.30  59945.36  61299.80
2021-11-01  61299.81  62437.74  59405.00  60911.11
2021-11-02  60911.12  64270.00  60624.68  63219.99
2021-11-03  63220.57  63500.00  60382.76  62896.48

In [94]:
btc_df.to_csv('btc_365.csv')