<a href="https://colab.research.google.com/github/dsnqHuy/bitcoin_price_prediction/blob/main/data_collecting%26preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Step 1: Data collection

In [ ]:
!pip install python-binance

In [2]:
import os
from binance.client import Client
import pandas as pd
import datetime 
import time

In [3]:
# init
api_key = os.environ.get('binance_api')
api_secret = os.environ.get('binance_secret')
client = Client(api_key, api_secret)

In [4]:
# get current timestamp
today = str(datetime.date.today())
print(today)

2022-10-30

In [5]:
last_365 = client.get_historical_klines('BTCUSDT', '1d', end_str = today, limit = 365)

In [6]:
# delete unwanted data - just keep date, open, high, low, close
for line in last_365:
    del line[5:]

In [7]:
btc_df = pd.DataFrame(last_365, columns=['date', 'open', 'high', 'low', 'close'])
btc_df.head()

,date,open,high,low,close
0,1635638400000,61859.19000000,62405.30000000,59945.36000000,61299.80000000
1,1635724800000,61299.81000000,62437.74000000,59405.00000000,60911.11000000
2,1635811200000,60911.12000000,64270.00000000,60624.68000000,63219.99000000
3,1635897600000,63220.57000000,63500.00000000,60382.76000000,62896.48000000
4,1635984000000,62896.49000000,63086.31000000,60677.01000000,61395.01000000

##Step 2: Data preprocessing

In [8]:
btc_df.dtypes

date      int64
open     object
high     object
low      object
close    object
dtype: object

In [9]:
# Chang all columns' data types
btc_df[['close', 'open', 'high', 'low']] = btc_df[['close', 'open', 'high', 'low']].apply(pd.to_numeric)

In [10]:
# Convert date from ms to day
btc_df['date'] = pd.to_datetime(btc_df['date'], unit='ms')

In [11]:
btc_df.tail()

          date      open      high       low     close
360 2022-10-26  20079.02  21020.00  20050.41  20771.59
361 2022-10-27  20771.61  20872.21  20200.00  20295.11
362 2022-10-28  20295.11  20750.00  20000.09  20591.84
363 2022-10-29  20591.84  21085.00  20554.01  20809.67
364 2022-10-30  20809.68  20931.21  20632.73  20716.42

In [12]:
btc_df.head(1)

        date      open     high       low    close
0 2021-10-31  61859.19  62405.3  59945.36  61299.8

In [13]:
#Check the nan value
btc_df.isna().sum()

date     0
open     0
high     0
low      0
close    0
dtype: int64

In [14]:
btc_df.to_csv('btc_365.csv')