##Step 1: Import libraries and dataset

In [2]:

import os
import pandas as pd
import numpy as np
import math
import datetime as dt

from sklearn.metrics import mean_squared_error, mean_absolute_error, explained_variance_score, r2_score 
from sklearn.metrics import mean_poisson_deviance, mean_gamma_deviance, accuracy_score
from sklearn.preprocessing import MinMaxScaler

from itertools import cycle
import plotly.graph_objects as go
import plotly.express as px
from plotly.subplots import make_subplots

import seaborn as sns 
import matplotlib.pyplot as plt

In [3]:
url = 'https://raw.githubusercontent.com/dsnqHuy/bitcoin_price_prediction/main/data/btc_365.csv'
df = pd.read_csv(url)

In [4]:
df.head()

         date      open      high       low     close
0  2021-10-30  62253.70  62359.25  60673.00  61859.19
1  2021-10-31  61859.19  62405.30  59945.36  61299.80
2  2021-11-01  61299.81  62437.74  59405.00  60911.11
3  2021-11-02  60911.12  64270.00  60624.68  63219.99
4  2021-11-03  63220.57  63500.00  60382.76  62896.48

##Step 2: Visualization